// Colors

// Navbar
$primary-color: #005963;
// $primary-color: #263238;
$navbar-top-color: #014b53;
$background-color: #f1f3f6;
// $background-color: #fafafa;
$navbar-font-color: #fafafa;
$btn-search-color: orange;
// $navbar-form-select-color: #e0e0e0;
$navbar-form-select-color: #f5f5f5;
$nav-item-hover-color: #006d79;
$dropdown-item-hover-color: #0097a7;

/***********************************************/
/*                Landing Page                 */
/***********************************************/

// Flash Deals Card
$flash-deals-card-item-name-hover: #007f8d;

// store Card
$store-card-background: #fff;
$store-card-shadow: #cecece;
$dot-color: #cecece;
$dot-color-active: #6e6e6e;
$wishlist-icon: #e0e0e0;
$wishlist-icon-hover: #fc2e5a;
$wishlist-icon-shadow: #aeaeae;
$store-card-item-name: #2f2f2f;
$store-card-item-name-hover: #007f8d;
$store-card-price-slash: #6e6e6e;
$store-card-discount: green;
$star-color: orange;
$rating-color: #2e2e2e;
$sold-count-color: #4e4e4e;
$store-name-color: #6e6e6e;
$store-name-color-hover: orange;

// brand Card
$brand-card-background: #fff;
$brand-card-shadow: #cecece;
$dot-color: #cecece;
$dot-color-active: #6e6e6e;
$wishlist-icon: #e0e0e0;
$wishlist-icon-hover: #fc2e5a;
$wishlist-icon-shadow: #aeaeae;
$brand-card-item-name: #2f2f2f;
$brand-card-item-name-hover: #007f8d;
$brand-card-price-slash: #6e6e6e;
$brand-card-discount: green;
$star-color: orange;
$rating-color: #2e2e2e;
$sold-count-color: #4e4e4e;
$brand-name-color: #6e6e6e;
$brand-name-color-hover: orange;

/***********************************************/
/*                Products Page                */
/***********************************************/

// Sidebar

// Product Card
$product-card-background: #fff;
$product-card-shadow: #cecece;
$dot-color: #cecece;
$dot-color-active: #6e6e6e;
$wishlist-icon: #e0e0e0;
$wishlist-icon-hover: #fc2e5a;
$wishlist-icon-shadow: #aeaeae;
$product-card-item-name: #2f2f2f;
$product-card-item-name-hover: #007f8d;
$product-card-price-slash: #6e6e6e;
$product-card-discount: green;
$star-color: orange;
$rating-color: #2e2e2e;
$sold-count-color: #4e4e4e;
$store-name-color: #6e6e6e;
$store-name-color-hover: orange;

// Footer
$footer-color: #00212b;
