.footer {
  // background-color: $footer-color;
  background-color: #161e2c;
  padding: 0;
  width: 100%;
  z-index: 1500;

  .footer-container {
    padding: 40px 40px 10px;
    width: 100%;
    min-width: $min-width;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;

    .row-1 {
      text-align: left;
      display: flex;

      .r1-c1 {
        width: 25%;
        padding: 0 20px 0 0;
        text-align: left;
        color: #cecece;

        .brand-logo-container {
          width: 75%;
          height: auto;

          .brand-logo {
            width: 100%;
            height: 100%;
            object-fit: scale-down;
            overflow: hidden;
          }
        }
        .address,
        .phone,
        .email {
          margin: 20px 0;
          line-height: 18px;

          .heading {
            font-size: 14px;
            color: #fafafa;
            text-transform: uppercase;
          }
          .item {
            font-size: 13px;
            &:hover {
              color: #fafafa;
            }
            a {
              color: #cecece;
              text-decoration: none;
              transition: ease-in-out 100ms;
              &:hover {
                color: #fafafa;
                text-decoration: underline;
              }
            }
          }
        }
      }

      .r1-c2,
      .r1-c3,
      .r1-c4,
      .r1-c5,
      .r1-c6 {
        width: 15%;
        padding: 0 10px;
        text-align: left;

        .heading {
          font-size: 14px;
          margin-bottom: 8px;
          color: #fafafa;
          text-transform: uppercase;
        }
        .item {
          font-size: 13px;
          padding: 4px 0;
          a {
            color: #aeaeae;
            text-decoration: none;
            &:hover {
              color: #fafafa;
              text-decoration: underline;
            }
          }
        }
      }
      .r1-c6 {
        .item {
          img {
            width: 125px;
            height: auto;
          }
        }
        .social {
          .social-heading {
            margin-top: 20px;
          }
          .social-btn-container {
            display: flex;

            .item {
              padding: 0;
              margin: 0 15px 0 0;
              font-size: 24px;
              a {
                transition: ease-in-out 250ms;
              }
            }
          }
        }
      }
    }

    hr {
      height: 1px;
      border: none;
      background-color: #6e6e6e;
    }

    .row-2 {
      text-align: left;
      display: flex;
      height: 75px;

      .r2-c1 {
        width: 25%;
        color: #cecece;
        margin: auto;
        &:hover {
          color: #fafafa;
        }
        p {
          font-size: 13px;
        }
      }
      .r2-c2 {
        width: 30%;
        margin: auto;
        text-align: center;

        img {
          width: 90%;
          margin-left: auto;
          overflow: hidden;
          object-fit: scale-down;
        }
      }
      .r2-c3 {
        width: 45%;
        margin: auto;
        display: flex;
        flex-direction: row-reverse;

        .payment-provider {
          width: 40px;
          height: 20px;
          text-align: center;
          margin-left: 8px;
          overflow: hidden;
          border-radius: 1px;
          background-color: #fafafa;
          user-select: none;

          img {
            width: 80%;
            height: 80%;
            line-height: 20px;
            vertical-align: middle;
            overflow: hidden;
            object-fit: scale-down;
          }
        }
      }
    }
  }
}
